
body {
  background-image: url(images/stars);
  color: white;
  font-family: verdana,serif;
}

#titlep {
  text-align: center;
  color: #11b448;
  font-size: 150px;
  font-family: impact,monospace;
}

#titles {
  text-align: center;
  color: #023790;
  font-family: impact,monospace;
}
