
body {
  background-image: url(/images/stars.jpg);
  color: white;
  font-family: verdana,serif;
}

#logo {
  display: block;
  margin: auto;
  padding-bottom: 20px;
  border-bottom: 5px solid white;
}

.abouttxt {
  position: relative;
  top: 50px;
  font-size: 14px;
}

#abouthdr {
  font-weight: bold;
}

#disclaimer {
  position: absolute;
  top: 0px;
}
